hr {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(250,250,250);
}

.loading {
    position: absolute;
    z-index: 5;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.loading > img {
    margin-left: calc(25% / 2);
    margin-right: calc(25% / 2);
    width: 75%;
    height: auto;
}

header {
    position: sticky;
    height: 12vh;
    background: rgb(250,250,250);;
    z-index: 3;
    top: 0;
}

header > a{
    display: inline-block;
    height: 12vh;
    padding-left: 1%;
}

header > a > img {
    height: 12vh;
    width: auto;
}

header > nav > ul {
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    padding-top: calc((12vh - 1em) / 2);
    padding-bottom: calc((12vh - 1em) / 2);
    margin: 0;
    line-height: 1em;
}

header > nav > ul > li {
    display: inline-block;
    width: calc(59vw / 5);
    text-align: center;
    border-right: 1px solid black;
    line-height: 1em;
}

header > nav > ul > li:last-child {
    border-right: 0;
}

header > hr {
    margin-bottom: 0;
}

footer > a > picture > img {
    width: 10%;
    height: auto;
}

#processingcanvas {
    margin: 0 calc((100vw - ((100vh - 12vh)*1.75))/2);
    height: 98vh;
}

.sobre {
    height: calc(100vh - 12vh);
    position: relative;
}

.sobre h2 {
    margin: 0;
    font-family: 'Poppins Medium', sans-serif;
}

.sobre > .titulos{
    float: left;
    width: 21%;
    padding-left: 9.5%;
    padding-right: 9.5%;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sobre > p {
    float: left;
    width: 55%;
    padding-right: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
}

.edicao2018 {
    height: calc(100vh - 12vh);
}

.intervenientes {
    height: calc(100vh - 12vh);
}

.locais {
    height: calc(100vh - 12vh);
}