* {
    margin: 0;
    padding: 0;
}

hr {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Triângulos_Design";
    src: url("fonts/triangulos-design.ttf");
}

.triangulos {
    font-family: 'Triângulos_Design', sans-serif;
}

@font-face {
    font-family: "Círculos_Arte";
    src: url("fonts/circulos-arte.ttf");
}

.circulos {
    font-family: 'Círculos_Arte', sans-serif;
}

@font-face {
    font-family: "Quadrados_Tecnologia";
    src: url("fonts/quadrados-tecnologia.ttf");
}

.quadrados {
    font-family: 'Quadrados_Tecnologia', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(250, 250, 250);
    margin: 0;
    overflow: hidden;
}

header {
    position: sticky;
    height: 7vw;
    background: rgb(250, 250, 250);
    z-index: 3;
    top: 0;
}

header > a {
    display: inline-block;
    height: 4vw;
    padding: 1.5vw 0 0 1.5vw;
}

header > a > img {
    height: 4vw;
    width: auto;
}

header > nav > img {
    display: none;
}

header > nav > ul {
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: 7vw;
    margin: 0;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}

header > nav > ul > li {
    display: inline-block;
    text-align: center;
    flex: 1;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    font-size: 1.5vw;
}

header > nav > ul > li:nth-child(2), header > nav > ul > li:last-child {
    flex: 1.5;
}

header > nav > ul > li:nth-child(3) {
    flex: 1.7;
}

header > nav > ul > li:last-child {
    border-right: 0;
}

header > nav > ul > li:hover {
    font-weight: bold;
    cursor: pointer;
}

main {
    position: relative;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: calc(100vh - 7vw);
}

.bold {
    font-weight: bold;
}

.showSeccao {
    display: none;
}

#processingcanvas {
    height: calc(100vh - 7vw);
    width: 100%;
    scroll-snap-align: start;
}


.animacao {
    display: none;
}


/*sobre*/

#sobre {
    min-height: calc(100vh - 7vw);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    scroll-snap-align: start;
}

#sobre > .titulos {
    font-size: 5.9vw;
    width: calc(100vw / 12 * 3);
    margin-right: calc(100vw / 24);
}

#sobre > .texto {
    width: calc(100vw / 24 * 14);
    line-height: 2.1em;
    font-size: 1.3vw;
}

/*edição 2019*/

#edicao2019 {
    min-height: calc(100vh - 7vw);
    scroll-snap-align: start;
}

#edicao2019flex {
    height: calc(100vh - 7vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#edicao2019flex > div {
    flex: 1;
    position: relative;
}

#edicao2019flex > div > div:last-child {
    width: calc(100vw / 48 * 10);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#edicao2019flex > div > div:last-child > svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: calc(-100vw / 48 * 10 * 125 / 515);
}

.divHover:hover {
    width: calc(100vw / 12 * 3) !important;
    cursor: pointer;
}

.divHover:hover > svg {
    top: calc((-100vw / 12 * 3) * 125 / 515) !important;
}

.agenda {
    position: absolute;
    opacity: 0;
    left: 20%;
    top: -5.75vw;
    transition-duration: 0.5s;
    transition-property: opacity;
    line-height: 3.5vw;
}

.agenda > span {
    font-size: 3vw;
    line-height: 4vw;
}

.agenda > p {
    font-size: 1.25vw;
    line-height: 1.25vw;
    margin: 0;
}

/*intervinientes*/

#intervenientes {
    min-height: calc(100vh - 7vw);
    scroll-snap-align: start;
}

.pessoa {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    min-height: calc(100vh - 7vw);
    padding-bottom: calc(100% / 12);
}

.pessoaNome {
    order: 2;
    width: calc(100% / 24 * 13);
    margin-left: calc(100% / 24);
    margin-bottom: calc(100% / 24);
}

.pessoaNome > video {
    width: calc(100vw / 24 * 10);
    height: auto;
    filter: brightness(99.3%);
}

.pessoaImagem {
    order: 1;
    margin-bottom: calc(100% / 24);
    width: calc(100% / 12 * 3);
}

.pessoaImagem > img {
    width: 100%;
    height: auto;
}

.pessoaPeca {
    order: 3;
    width: calc(100% / 12 * 3);
    align-self: flex-start;
    position: relative;
}

.pessoaPeca img {
    width: calc(100vw / 48 * 2.5);
    height: auto;
    position: absolute;
    right: 0;
}

.pessoaTexto {
    order: 4;
    align-self: flex-start;
    width: calc(100% / 24 * 13);
    margin-left: calc(100% / 24);
    line-height: 2.1em;
    font-size: 1.3vw;
}

/*locais*/

#locais {
    min-height: calc(100vh - 7vw);
    position: relative;
    scroll-snap-align: start;
}

.fundo {
    height: calc(100vh - 7vw);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.molduras {
    position: relative;
    width: calc(100vw / 12 * 2.5);
    height: calc((100vw / 12 * 2.5) * 2045 / 1235);
}

.CantoInferiorDireito {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: calc(100vw / 24);
}

.CantoInferiorEsquerdo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: calc(100vw / 24);
}

.CantoSuperiorEsquerdo {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: calc(100vw / 24);
}

.molduras > img:last-child {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.molduras:hover > img:last-child {
    transition-duration: 0.3s;
    width: calc(100vw / 12 * 3);
    top: calc((-100vw / 12 * 0.5) * 1022.5 / 1235);
    cursor: pointer;
}

.fundo2 {
    width: calc((100vw / 12 * 2.5 * 3) + (100% - (100vw / 12 * 2.5 * 3)) / 3 * 2);
    position: absolute;
    height: calc((100vw / 12 * 2.5) * 2045 / 1235);
    display: none;
    text-align: left;
    background-color: rgb(250, 250, 250);
}

.cruz {
    width: 2vw;
    height: auto;
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.imagemlocal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: calc(100vw / 12 * 4);
    margin-right: calc(100vw / 24);
    margin-left: calc(100vw / 24 * 1.5);
}

.museuInfo div, .darqInfo div, .deiInfo div {
    width: calc(100vw / 12 * 4.5);
    position: absolute;
    top: 40%;
    left: calc(100vw / 12 * 5.25);
}

.museuInfo .icon {
    position: relative;
    top: 0.5vw;
}

.icon {
    height: 2vw;
    width: auto;
    position: absolute;
    left: 0;
}

.fundo2 p {
    display: inline-block;
    font-size: 1.4vw;
    padding-left: 3vw;
}

.museutotal p {
    padding-left: 1vw;
}

.localtipo {
    width: calc(100vw / 12 * 4.5);
    position: absolute;
    font-size: 4vw;
    top: 5.5vw;
    left: calc(100vw / 12 * 5.25);
}

/*contactos*/

#contactos {
    min-height: calc(100vh - 7vw);
    scroll-snap-align: start;
    position: relative;
}

.conteudoContactos {
    min-height: calc(100vh - 7vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    align-content: space-between;
}

.conteudoContactos > div:nth-child(1), .conteudoContactos > div:nth-child(2) {
    position: relative;
    height: 10vw;
}

.conteudoContactos > div:nth-child(1) > a, .conteudoContactos > div:nth-child(2) > a {
    position: absolute;
    color: black;
    bottom: 0;
    margin: 0 calc(100% / 12);
}

.conteudoContactos > div:nth-child(2) > a {
    right: 0;
}

.animacaoContactos {
    position: relative;
    width: 40%;
    margin: 0 calc(100% / 12);
}

.animacaoContactos > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

.conteudoContactos > div:nth-child(1) {
    padding-top: 2vw;
}

.conteudoContactos > div:nth-child(1) > .animacaoContactos {
    width: 35%;
}

.conteudoContactos > div:nth-child(2) > .animacaoContactos {
    right: 0;
    position: absolute;
}

.animacaoContactos > p {
    position: relative;
    top: 25%;
    font-size: 5vw;
    line-height: 5vw;
}

.conteudoContactos > div:nth-child(2) > .animacaoContactos > p {
    text-align: right;
}

.animacaoContactos > div > img {
    position: absolute;
    height: 100%;
    width: auto;
}

.conteudoContactos > div:nth-child(1) > .animacaoContactos > div {
    right: 0;
}

.conteudoContactos > div:nth-child(2) > .animacaoContactos > div > img {
    right: 0;
}

@keyframes animacao {
    0% {
        width: 100%;
    }
    100% {
        width: calc(100% - 85%);
    }
}

.hiperligacao {
    margin-left: 40%;
    width: 20%;
    height: 9vw;
    position: relative;
}

.hiperligacao > a {
    display: inline-block;
    position: absolute;
}

.facebook {
    top: 1.5vw;
    left: 0.5vw;
    height: 3vw;
}

.uc {
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    height: 5vw;
}

.instagram {
    top: 1.5vw;
    right: 0.5vw;
    height: 3vw;
}

.facebook img, .instagram img {
    height: 3vw;
    width: auto;
}

.uc img {
    width: auto;
    height: 5vw;
}

.facebook:hover, .instagram:hover {
    top: 1vw;
}

.facebook:hover {
    left: 0;
}

.instagram:hover {
    right: 0;
}

.uc:hover {
    top: 0.5vw;
}

.facebook img:hover, .instagram img:hover {
    height: 4vw;
}

.uc img:hover {
    height: 6vw;
}

@media (max-width: 767px) {

    /*header */
    header {
        height: 12vw;
    }

    header > a {
        height: 6vw;
        padding: 3vw 0 0 3vw;
    }

    header > a > img {
        height: 6vw;
    }

    header > nav > ul {
        width: 100%;
        transition-duration: 1s;
        transition-property: opacity;
        visibility: hidden;
        top: 12vw;
        height: calc(100vh - 12vw);
        background-color: rgb(250, 250, 250);
        flex-direction: column;
        justify-content: center;
        opacity: 0;
    }

    header > nav > ul > li {
        width: 30%;
        text-align: left;
        font-size: 5vw;
        line-height: 16vw;
        flex: unset !important;
    }

    header > nav > img {
        display: block;
        width: auto;
        height: 7vw;
        position: absolute;
        right: 3.5vw;
        top: 50%;
        transform: translateY(-50%);
    }

    .show {
        visibility: visible;
    }

    /*seccoes*/

    .showSeccao {
        display: block;
        text-align: right;
        padding: 2vw 0 5vw 0;
        font-size: 5vw;
        height: 5vw;
        line-height: 5vw;
        width: calc(100% - 5vw);
    }

    main {
        scroll-snap-type: unset;
        height: calc(100vh - 12vw);
    }

    #processingcanvas > canvas{
        display: none;
    }

    .animacao {
        display:block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        position: relative;
        left: 50%;
    }

    #processingcanvas, #sobre, #edicao2019, #intervenientes, #locais, #contactos {
        scroll-snap-align: unset;
        min-height: calc(100vh - 12vw);
    }

    /*sobre*/

    #sobre {
        justify-content: unset;
    }

    #sobre > .texto {
        width: unset;
        font-size: 1em;
        line-height: 1.8em;
        margin: 0 5vw calc(100% / 12 * 2.5) 5vw;
    }

    #sobre > .titulos {
        width: 100%;
        padding: calc(100vw / 24) 0;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #sobre > .titulos > p {
        font-size: 20vw;
    }

    /*edicao 2019*/
    #edicao2019flex {
        height: unset;
    }

    #edicao2019flex > div {
        flex: unset;
        width: 100%;
        height: calc(100vw / 12 * 15);
    }

    #edicao2019flex > div > div:last-child {
        width: calc(100vw / 12 * 7.5);
        top: 50%;
    }

    #edicao2019flex > div > div:last-child > svg {
        top: calc(-100vw / 12 * 7.5 * 425 / 515) !important;
    }

    .agenda {
        top: calc(50% - 18vw);
        left: 21.5%;
    }

    .agenda > p {
        font-size: 4vw;
        line-height: 5vw;
    }

    .agenda > span {
        font-size: 9vw;
        line-height: 10vw;
    }

    /*intervenientes*/
    .pessoa {
        padding-bottom: calc(100% / 12 * 2.5);
    }

    .pessoaNome {
        order: 1;
        width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .pessoaNome > video {
        width: 70vw;
    }

    .pessoaImagem {
        order: 2;
        width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .pessoaImagem > img {
        width: 100%;
        height: auto;
        margin: unset;
    }

    .pessoaTexto {
        order: 3;
        width: 100%;
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 1em;
        line-height: 1.8em;
    }

    .pessoaPeca {
        order: 4;
        width: 100vw;
        height: 7vw;
        margin: 2vw 0 2.5vw 5vw;
    }

    .pessoaPeca img {
        width: 7vw;
        right: unset;
        left: 0;
    }

    /*LOCAIS*/
    #locais {
        background-color: rgb(250, 250, 250);
    }

    .fundo {
        height: unset;
        width: unset;
    }

    .molduras {
        display: none;
    }

    .fundo2 {
        width: 100%;
        position: relative;
        height: unset;
        display: block;
        left: unset;
    }

    .fundo2 > img {
        display: none;
    }

    .fundo2 > div > picture {
        display: inline-block;
        margin: calc(100% / 24) 5vw;
    }

    .imagemlocal {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        width: 100%;
        height: auto;
        margin: unset;
    }

    .museuInfo, .darqInfo, .deiInfo {
        position: relative;
    }

    .museuInfo div, .darqInfo div, .deiInfo div {
        width: calc(100% - 10vw);
        position: relative;
        top: 0;
        left: unset;
        margin: 0 5vw calc(100% / 12 * 2.5) 5vw;
    }

    .fundo2 p {
        display: inline-block;
        font-size: 1em;
        line-height: 2em;
        padding-left: 2em;
    }

    .museutotal p {
        padding-left: 1em;
    }

    .localtipo {
        display: block;
        position: relative;
        font-size: 16vw;
        width: unset;
        top: 0;
        left: 0;
        margin-left: 5vw;
        line-height: 16vw;
    }

    .icon {
        height: 1em;
        top: 0.5em;
    }

    .museuInfo .icon {
        top: 0.25em;
    }

    /*contactos*/
    .conteudoContactos {
        min-height: calc(100vh - 24vw);
    }

    .conteudoContactos > div:first-child, .conteudoContactos > div:nth-child(2) {
        height: 18vw;
    }

    .conteudoContactos > div:nth-child(1) {
        padding-top: unset;
    }

    .conteudoContactos > div:nth-child(1) > .animacaoContactos {
        width: calc(100% - calc(100% / 12 * 2));
    }

    .animacaoContactos {
        width: calc(100% - calc(100% / 12 * 2));
    }

    .animacaoContactos > p {
        font-size: 10vw;
        line-height: 10vw;
    }

    .conteudoContactos > div:nth-child(1) > a, .conteudoContactos > div:nth-child(2) > a {
        position: absolute;
        bottom: 0;
    }

    @keyframes animacao {
        0% {
            width: 100%;
        }
        100% {
            width: calc(100% - 87%);
        }
    }

    .hiperligacao {
        height: 10vw;
        width: 50%;
        margin-left: 25%;
    }

    .facebook, .instagram {
        height: 5vw;
        top: 2.5vw;
    }

    .facebook picture, .facebook img, .instagram picture, .instagram img {
        height: 5vw;
    }

    .uc {
        height: 10vw;
        top: unset;
    }

    .uc picture, .uc img {
        height: 10vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #processingcanvas > canvas{
        display: none;
    }

    .animacao {
        display: block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        position: relative;
        left: 50%;
    }

    /*sobre*/

    #sobre {
        align-content: center;
    }

    #sobre > .titulos {
        width: 100%;
        margin: 0 calc(100% / 12) calc(100% / 24) calc(100% / 12);
        font-size: 10vw;
    }

    #sobre > .texto {
        font-size: 1em;
        width: 100%;
        margin: 0 calc(100% / 12);
    }

    /*intervenientes*/

    #intervenientes > div:nth-child(2) {
        padding-top: calc(100vw / 12);
    }

    .pessoaTexto {
        font-size: 1em;
    }

    /*edicao 2019*/

    #edicao2019flex {
        height: unset;
    }

    #edicao2019flex > div {
        flex: unset;
        width: 100%;
        height: calc(100vw / 12 * 10);
    }

    #edicao2019flex > div > div:last-child {
        width: calc(100vw / 12 * 5);
        top: 50%;
    }

    #edicao2019flex > div > div:last-child > svg {
        top: calc(-100vw / 12 * 5 * 425 / 515) !important;
    }

    .agenda {
        top: 39%;
        left: 30%;
    }

    .agenda > p {
        font-size: 2vw;
        line-height: 2vw;
    }

    .agenda > span {
        font-size: 6vw;
        line-height: 7vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #processingcanvas, #edicao2019, #intervenientes, #locais, #intervenientes > .pessoa {
        min-height: 100%;
    }
}